@import "./myconst.scss" ;
.card-box{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    border: 2px solid grey;
    padding: 10px;
    border-radius: 10px;
    background-color: $cardcolor;
}