$background: pink;
$background-header: rgb(237, 138, 154);
$btn-color: rgb(235, 124, 142);
$border-color: rgb(70, 68, 68);
$font: 18px;
$font-family: Arial, Helvetica, sans-serif;
$cardcolor: rgb(250, 240, 240);
