@import "../ProductList/myconst.scss";

.button {
    border-radius: 3px;
    border: 1px solid $border-color;
    font-size: $font;
    font-family: $font-family;
    margin: 0 auto;
    font-weight: bold;
    color: $border-color;

    &:hover {
        cursor: pointer;
        color: black;
    }

    &-wrapper {
        display: flex;
        margin-top: 15px;
    }

}